<h1>E-Commerce App</h1>

<% if @warehouses.empty? %>
  <p>Nenhum galpão encontrado<p>
<% else %>
  <% @warehouses.each do |w| %>
    <div>
      <p><%= link_to w.name, warehouse_path(w.id) %></p>
      <p><%= w.code %></p>
  <% end %>
<% end %>